<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%> 
<body>
    <%- include('./partials/nav.ejs')%>
    
    <div>
        <h2><%= emp.Name %></h2>
        <h3><%= emp.Email  %> </h3>
        <h3><%= emp.EmployeeNo %> </h3>
        <h3><%= emp.HolidaysUsed  %> </h3>


        <td><a class = "delete" data-doc="<%= emp._id %>">
          <img src="/trashcan.svg" alt="">
        </a></td>

        <!-- added delete and edit buttons -->

        <td><a href="/emp/edit/<%=emp._id%>">Edit</a></td>
        <td><a class="delete" href="/emp/delete/<%=emp._id%>">Delete</a></td>
        
    </div>

    <%- include("./partials/footer.ejs") %>

    <!-- vanilla js ie js without any framework -->

    <script> 
        const trashcan = document.querySelector('a.delete');
        trashcan.addEventListener('click', (e) => {
          const endpoint = `/emp/${trashcan.dataset.doc}`;
          fetch(endpoint, {
            method: 'DELETE',
          })
          .then(response => response.json())
          .then(data => window.location.href = data.redirect)
          .catch(err => console.log(err));
        });
    </script>

</body>
</html>