
<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%> 
<body>
    <%- include('./partials/nav.ejs')%>
    
    <div>
        <h2><%= Emp.Name %></h2>
        <h3><%= Emp.EmployeeNo %></h3>
        <h3><%= Emp.email %></h3>
        <h3><%= Emp.HolidaysUsed %></h3>
        <h3><%= Emp.Mobileno %></h3>
        <h3><%= Emp.cityName %></h3>
        <h3><%= Emp.Aadharno %></h3>
    </div>

    <div>

        <form action="/emp/edit/<%=Emp._id%>">
            <button>Edit Employee</button>
        </form>

        <form action="/emp/delete/<%= Emp.id %>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>
</html>